<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <style>
    h1 {
      color: #9e864f;
    }

    h2 {
      font-size: 15px;
    }

    p {
      font-style: italic;
      font-size: 15px;
    }
  </style>
</head>
<body>
<h1>WebApp - Taraful Turnenii</h1>
<h2>
  Nume: {{name}}<br>
  E-mail: {{email}}<br>
  Nr.Tel: {{phone}}
  <br>
  <br>
</h2>
{{#if locationType}}
  <h2>
    Detalii Eveniment:<br><br>
    Tip Eveniment: {{eventType}}<br>
    Servicii Muzicale Alese: <br>
    <list>
      {{#if checkbox1}}
        <li>Program Folcloric<br></li>{{/if}}
      {{#if checkbox2}}
        <li>Muzică Lăutarească<br></li>{{/if}}
      {{#if checkbox3}}
        <li>Show Instrumental<br></li>{{/if}}
      {{#if checkbox4}}
        <li>Café - Concert<br></li>{{/if}}
      {{#if checkbox5}}
        <li>Show Muzică Tigănească<br></li>{{/if}}
      {{#if checkbox6}}
        <li>Manele<br></li>{{/if}}
    </list>
    Tip Locatie: {{locationType}}<br>
    Adresa Locatie: {{address}}<br>
    Data: {{date}}<br>
    De la: {{fromTime}}<br>
    Pana la: {{toTime}}<br>
    <br>
  </h2>
{{/if}}
{{#if text}}
  <h2>
    Mesaj :
    <p>{{text}}</p>
  </h2>
{{/if}}
</body>
</html>
